.footer{
    padding: 50px 0;
    color: white;
    background-color: #111111;
}
.footer h3{
    padding-bottom: 20px;
}
.footer h3{
    font-weight: 700;
}
.footer input{
    background-color: #111111;
    color: white;
    padding: 5px;
    width: 100%;

    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid #ff6b29;
}
.footer button{
    margin-top: 20px;
    padding: 5px 10px;
    font-weight: 700;
    background-color: #ff6b29;
    border: none;
    border-radius: 2px;

    cursor: pointer;
    transition: .1s;
}
.footer button:hover{
    transition: .1s;
    transform: scale(1.1);
}